body {
	background-color: #5E0DAC;
}

div.menu div:first-child, div.dropzone div:first-child {
	background-color: #E165B9;
}

#type_a {
	background-color: #8805A8;
}

#type_b {
	background-color: #C30083;
}

#type_c {
	background-color: #B53AD4;
}

.nodeText {
	/*color: #A069D6;*/
	color: white;
}

.unsetNode {
	opacity: 0.5;
}

td, th {
	border: 1px #9CCEEF solid;
}
