html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 20px;
}

*.centered {
  display: table;
  margin: auto;
}

*.roundedBox {
	-moz-border-radius: 10px 10px 10px 10px;
	-webit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

div.menu {
	float: left;
	margin-right: 10px;
}

div.elementList {
	margin: 0px;
	padding: 5px;
}

div.elementList div.node {
	margin-top: 10px;
}

div.elementList div.node:first-child {
	margin-top: 0px;
}

.nodeText {
	/*display:table-cell;*/
	vertical-align: middle;
	text-align: center;
}

.elementBox {
	padding: 5px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}

.unsetNode {
	padding: 5px;
	min-width: 36px;

	/* This doesn't change due to display:table-cell
	 * The border is absorbed into the height vertically, but not horizontally
	 */
	min-height: 36px;
	border-width: 2px;
	border-style: dashed;
	border-color: black;
	border-collapse: seperate;
	cursor: pointer;
}

.setNode {
	padding: 5px;
	min-width: 36px;

	/* This doesn't change due to display:table-cell
	 * The border is absorbed into the height vertically, but not horizontally
	 */
	min-height: 36px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-collapse: seperate;
}

div.nodeCol {
	display: inline-block;
	float: left;
}

table { margin: 1em; border-collapse: collapse; }
td, th { padding: .3em; border: 1px #9CCEEF solid; }
